name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  test:
    name: Vet and Test
    runs-on: ubuntu-24.04

    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.22
      id: go

    - name: Get dependencies
      run: |
        go mod download

    - name: Vet
      run: |
        go vet ./...

    - name: Test Race Conditions
      run: go test -race -v ./...

